## Answer 1

In [1]:
lists=[('Sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat Kohli',24936)]
lists.sort(key=lambda x:x[1])
print(lists)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

## Answer 2

In [2]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list(map(lambda x:x**2,list1)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Answer 3

In [3]:
list2 = [1,2,3,4,5,6,7,8,9,10]
tuple_list = tuple(map(lambda x: str(x),list2))
print(tuple_list)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

## Answer 4

In [4]:
from functools import reduce
list3 = list(range(1,26))
print(reduce(lambda x,y:x*y,list3))

15511210043330985984000000

## Answer 5

In [5]:
list4 = [2,3,6,9,27,60,90,120,55,46]
print(list(filter(lambda x:x%2 == 0 and x%3 == 0,list4)))

[6, 60, 90, 120]

## Answer 6

In [6]:
list5 = ['python','php','aba','radar','level']
print(list(filter(lambda x:x[::-1]==x,list5)))

['php', 'aba', 'radar', 'level']