In [2]:
import pandas as pd 
course_name = ['Data Science','Machine Learning','Big Data','Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data={'course_name':course_name,'duration':duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

**Question 1**

In [4]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

**Question 2**

The loc and iloc functions in Pandas are used to slice a data set. The function . loc is primarily used for label indexing, while . iloc is mainly used for integer indexing.

**Question 3**

In [5]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [6]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [7]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes there is a difference in both the outputs. Since iloc uses the default integer indexing of the dataframe so it took the row from second index even whereas loc uses the reindex values for slicing and it extract the index value 2 from the index.

In [8]:
import pandas as pd 
import numpy as np 
columns = ['column_1','column_2','column_3','column_4','column-5','column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6),columns=columns,index=indices)
df1

   column_1  column_2  column_3  column_4  column-5  column_6
1  0.195068  0.187520  0.621777  0.976897  0.218744  0.088670
2  0.805564  0.910977  0.801806  0.111940  0.608332  0.912520
3  0.132349  0.112462  0.080471  0.591578  0.168244  0.578702
4  0.466429  0.802580  0.607825  0.480849  0.322765  0.676480
5  0.444570  0.951184  0.096740  0.003481  0.726193  0.468181
6  0.229891  0.319356  0.391037  0.372942  0.352364  0.980805

**Question 4**

In [9]:
df1.mean()

column_1    0.378979
column_2    0.547347
column_3    0.433276
column_4    0.422948
column-5    0.399440
column_6    0.617560
dtype: float64

In [10]:
df1['column_2'].std()

0.38237019503143355

**Question 5**

In [11]:
string_var = "Rithul"
df1.loc[2,'column_2'] = string_var
df1

   column_1  column_2  column_3  column_4  column-5  column_6
1  0.195068   0.18752  0.621777  0.976897  0.218744  0.088670
2  0.805564    Rithul  0.801806  0.111940  0.608332  0.912520
3  0.132349  0.112462  0.080471  0.591578  0.168244  0.578702
4  0.466429   0.80258  0.607825  0.480849  0.322765  0.676480
5  0.444570  0.951184  0.096740  0.003481  0.726193  0.468181
6  0.229891  0.319356  0.391037  0.372942  0.352364  0.980805

In [12]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

We cannot find the mean of an integer/float with a string value. So it showed the error: - unsupported operand type(s) for +: 'float' and 'str'

**Question 6**

In pandas, window functions (also known as rolling or moving functions) operate on a set of data points within a specified window (or a subseries) and perform a calculation over that window. These functions are particularly useful for time series data or any sequential data where you want to compute aggregations over a moving subset of the data.

Types of windows functions: - 
1. Rolling Mean
2. Rolling Sum
3. Rolling Min
4. Rolling Max
5. Rolling Standard Deviation 
6. Rolling Customized Aggregation

**Question 7**

In [15]:
from datetime import datetime

current_month = pd.to_datetime(datetime.now()).month
current_year = pd.to_datetime(datetime.now()).year
current_time = pd.to_datetime(datetime.now()).strftime("%H:%M:%S")

In [16]:
current_month

11

In [17]:
current_year

2023

In [18]:
current_time

'19:55:21'

**Question 8**

In [23]:
date1 = pd.to_datetime(input("Enter year 1: "))
date2 = pd.to_datetime(input("Enter year 2: "))

final = date1-date2

Enter year 1: 2023-11-27
Enter year 2: 2023-11-26

In [24]:
print(final)

1 days 00:00:00

**Question 9**

In [26]:
def convert_to_categorical(file_path, column_name, category_order):
    df = pd.read_csv(file_path)
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    df = df.sort_values(by=[column_name])
    print(df)

**Question 10**

In [27]:
def visualize_sales_data(file_path):

    df = pd.read_csv(file_path)
    date_column = 'Date'
    product_columns = df.columns.difference([date_column])

    df[date_column] = pd.to_datetime(df[date_column])

    df.set_index(date_column, inplace=True)

    df[product_columns].plot(kind='bar', stacked=True, figsize=(10, 6))
    
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.title('Stacked Bar Chart of Sales by Product Category Over Time')
    plt.legend(title='Product Category', bbox_to_anchor=(1.05, 1), loc='upper left')
    
    plt.show()

**Question 11**

In [28]:
def calculate_statistics(file_path):

    df = pd.read_csv(file_path)

    test_scores = df['Test_Score']

    mean_score = mean(test_scores)
    median_score = median(test_scores)
    mode_score = mode(test_scores)

    results_table = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean_score, median_score, mode_score]
    })

    print("Statistics for Test Scores:\n")
    print(results_table)