**Question 1**

In [2]:
import pandas as pd
a = pd.Series([4,8,15,16,23,42])
print(a)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Question 2**

In [3]:
lists = [50,42,13,22,65,88,109,75,22,13]
b = pd.Series(lists)
print(b)

0     50
1     42
2     13
3     22
4     65
5     88
6    109
7     75
8     22
9     13
dtype: int64

**Question 3**

In [4]:
data = {
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']
}
dataset = pd.DataFrame(data)
print(dataset)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Question 4**

DataFrame is like a multiple dimensional array in which there are multiple columns which is presented in a tabular format. But in case of pandas.Series is that it only takes a single array or list. 

For Example:

There are 3 columns in a table, where it is known as a dataframe but when a single column is filtered out then that is known as a Series.

**Question 5**

Thr ar many functions that we can use to manipulate data in a Pandas Dataframe and that is df['column_name'] or df[['column1', 'column2']]: Select one or multiple columns from the DataFrame.

Apart from there, are many more functions.

**Question 6**

In Pandas, the Series and DataFrame are mutable, while the Panel is no longer actively supported as of Pandas version 0.25.0 (July 2019) and is considered deprecated. Therefore, you should primarily work with Series and DataFrames when using Pandas for data manipulation.

**Queston 7**

In this example, we create two Series, series1 and series2, and then create a DataFrame df by passing a dictionary where the keys are the column names and the values are the Series you want to include in the DataFrame. The resulting DataFrame will have two columns, 'Column1' and 'Column2', with the data from the respective Series, and the index of the DataFrame will be the default integer index.

In [5]:

series1 = pd.Series([1, 2, 3, 4], name='Column1')
series2 = pd.Series(['A', 'B', 'C', 'D'], name='Column2')

df = pd.DataFrame({'Column1': series1, 'Column2': series2})

print(df)

   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D